<form class="{{cssClass}} {{actor.type}} flexrow" autocomplete="off">
    {{log system}}
    <div>
        <p>{{localize 'SAP.Strength'}}</p>
        <input name="str" type="text" value="{{system.attributes.str.value}}" placeholder="Strength" />
    </div>
    <div>
        <p>{{localize 'SAP.Dexterity'}}</p>
        <input name="dex" type="text" value="{{system.attributes.dex.value}}" placeholder="Dexterity" />
    </div>
     <div>
        <p>{{localize 'SAP.Intelligence'}}</p>
        <input name="int" type="text" value="{{system.attributes.int.value}}" placeholder="Intelligence" />
    </div>
     <div>
        <p>{{localize 'SAP.Spirit'}}</p>
        <input name="spi" type="text" value="{{system.attributes.spi.value}}" placeholder="Spirit" />
    </div>
</form>